
/* ESTILO INICIO */
.inicio {
    height: 100%;
}

.imginicio {
    width: 80%;
}

.principal {
    padding: 5vh;
    font-weight: bold;
}

.novedades {
    padding: 1%;
    font-weight: bold;
}

.regala {
    font-size: large;
}