/*ESTILOS LOCALES*/
.mapas {
    padding: 20px;
    position: relative;
    left: 350px;
    width: 650px;
    height: 400px;
}

.direccion {
    font-size: 25px;
    font-style: italic;
    position: relative;
    left: 100px;
    list-style-type: none;
}

.barrio {
    font-weight: bold;
}