/* ESTILO NOSOTROS */
.nosotros {
    height: 100vh;
}

.video {
    width: 65vh;
    height: 40vh;
    margin-left: 25%;
}

.section3 {
    padding: 2vh;
}

.historia {
    font-size: 3vh;
    font-style: italic;
    text-align: justify;

}